<input type="search" class="form-control" [(ngModel)]='searchText' placeholder="Enter product to search">
<hr>
<div class="row">
  <div class="col-md-4" *ngFor="let product of productList | FilterPipe: searchText">  
 <div class="card mb-4 shadow-sm">
  <div class="card-body">
    <p class="card-text">
      <strong>{{ product.title}}</strong>
    </p>
    <p class="card-text">
      <strong>{{ product.price | currency:'INR' }}</strong>
    </p>
    <p class="card-text">{{ product.description | slice: 0:70 }}...</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
       <button type="button" class="btn btn-sm btn-primary product-btn" (click)="AddToCart()">Add to
          Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn" (click)="onViewDetails(product.id)" >View Details</button>
        <button type="button" class="btn btn-sm btn-danger product-btn" (click)="onDeleteProduct(product.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
