<div class="container">
<div class="row">
    <div class="col-xs-12" *ngIf= "product">
      <div class="card mb-4 shadow-md">
        <div class="card-body">
          <p class="card-text">
            <strong>{{ product.title}}</strong>
          </p>
          <p class="card-text">
            <strong>{{ product.price | currency:'INR' }}</strong>
          </p>
          <p class="card-text">{{ product.description }}</p>
    </div>
    <button type="button" class="btn btn-sm btn-primary product-btn" (click)="onEditProduct(product.id)" style="max-width: 100px;" >Edit Product</button>
  </div>
</div>
</div>
</div>